
.gantari-mainfont {
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body
{
  background-color: #0D0D0D;
}

html{
  scroll-behavior: smooth;
}

h1,ul,p{
  color: rgb(221, 221, 221);
}

